.default-class{
    width: 100%;
    height: 100%;

}

.homePageBackgroundOfEarth{
   width: 100%;
   opacity: .95;
}

.videoTag{
    width: 100%;
}

@media (max-width: 1190px){
    .homePageBackgroundOfEarth{
        width: 100%;
        opacity: 0.95;
     }
}

@media (max-width: 980px){
    .homePageBackgroundOfEarth{
        width: 100%;
        opacity: 0.95;
     }
}

@media (max-width: 400px){
    .homePageBackgroundOfEarth{
        width: 100%;
        opacity: 0.95;
     }
}
