.ourClient{
    padding: 100px 70px;
}

.ourClient-heading{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 35px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding-bottom: 30PX;
}

.ourClient-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
}

@media (max-width: 680px) {
    .ourClient{
        padding: 100px 35px;
    }

    .ourClient-heading{
        font-size: 25px;
    }

    .ourClient-cards{
        gap: 30px;
    }
}
