

.WhoWeAreVideo{
    /* width: 100%; */

}

.WhoWeAreVideoTag{
    width: 100%;
    opacity: 0.95;
}

.ourStory{
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: white;
}

.outStoryUl{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}