.mainImagerousal{
    position: relative;
    scroll-behavior: smooth;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding: 30px 20px;
    background-color:rgba(245, 203, 210, 0.405)

}

.mainImagerousalHeader{
    font-weight: 600;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.imageCrousal{
    width: 100%;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

@media only screen and (max-width: 480px){
    .mainImagerousalHeader{
        justify-content: start;
    }
}