.imageCrousalCard{
    display: flex;
    min-width: 100%;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding-top: 15px;
    justify-content: space-around;
}

.imageCrousalContent{
    width: 550px;
    /* padding-left: 50px; */
}

.imageCrousalImage > img{
    width: 280px;
}

@media only screen and (max-width: 480px){
    .imageCrousalCard{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 0px;
        color: rgb(78, 75, 71)
    }

    .imageCrousalContent{
        width: 100%;
        margin-top: -70px ;
    }

    .imageCrousalImage{
        margin-top: -30px;;
    }
}