.SideMobileNavTab > ul > li{
    list-style-type: none;
    padding: 25px;
    border: 1px solid black;
    width: 45%;
    font-weight: bolder;
    background-color: rgba(240, 240, 240, 0.1); /* Set gray background color with increased opacity */
    background-image: 
        linear-gradient(45deg, rgba(204, 204, 204, 0.1) 25%, transparent 25%, transparent 75%, rgba(204, 204, 204, 0.1) 75%, rgba(204, 204, 204, 0.1)), /* Top left to bottom right line */
        linear-gradient(-45deg, rgba(204, 204, 204, 0.1) 25%, transparent 25%, transparent 75%, rgba(204, 204, 204, 0.1) 75%, rgba(204, 204, 204, 0.1)); /* Top right to bottom left line */
    background-size: 20px 20px; /* Size of each check */
}

