
.SideMobileNavTab > ul > li{
    list-style-type: none;
    padding-top: 30px;
    border: 1px solid rgba(247, 242, 242, 0);
    font-weight: bolder;
    color: black;
    /* background-color: rgba(240, 240, 240, 0.1); */
}

.SideMobileNavTab > ul > li:hover{
    color: rgb(89, 75, 7); 
    text-decoration: underline;
}

.SideMobileNavTab{
    width: 35%;
    position: absolute;
    z-index: 1;
    top: 80px;
    right: 0%;
    background-color: rgba(255, 255, 255, .95)

}

@media (min-width: 980px) {
    .SideMobileNavTab{
        display: none;
    }
}


@media (max-width: 480px) {
    .SideMobileNavTab{
        width: 55%;    
    }

    .SideMobileNavTab > ul > li{
        padding-top: 10px;

    }
}
